{# Рендер ОДНОГО поля формы sign create #}
{% load i18n %}
{{ widget_add_link }}<a class="add_link" href="{{ add_link }}">add new</a>
<select name="{{ widget.name }}"{% include "forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}
  <optgroup label="{{ group_name }}">
        {% endif %}
    {% for option in group_choices %}
  {% include option.template_name with widget=option %}
    {% endfor %}
    {% if group_name %}
  </optgroup>
    {% endif %}
    {% endfor %}
</select>