{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}
    {% if validlink %}
        <p>{% trans "Для подтверждения акаунта нажмите кнопку ниже" %}</p>
        <form method="post">{% csrf_token %}
            <button type="submit">{% trans 'Продолжить' %}</button>
        </form>
    {% else %}
        <p>{% trans "Ссылка для активации недействительна, возможно, потому что она уже использовалась. Пожалуйста, попробуйте еще раз." %}</p>
    {% endif %}
{% endblock %}
{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
