{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}

  {% if not user.is_authenticated %}
    <p>{% trans "Currently you're not logged in. Please log in to proceed. " %}</p>
  {% else %}
    <p>{% trans "You're logged in as " %}{{ user.username }}</p>
  {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder={% trans 'Логин' %}>
        <input type="password" name="password" placeholder={% trans 'Пароль' %}>
        <input type="submit" value="Войти">
    </form>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
    <a href="{% url 'index' %}">{% trans 'Back to Index' %}</a>
    <a href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a>

{% for message in messages %}
    {{ message }}
{% endfor %}

<p>{{ error_msg }}</p>

{% if form.errors %}
    <p>{% trans 'А так же: ' %}</p>
    {% for error in form.errors.values %}
        {{ error }}
    {% endfor %}
{% endif %}

{% endblock %}
{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
