{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}
{% if form.errors %}
    {{ form.errors }}
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

  {% if not user.is_authenticated %}
    <p>{% trans "Currently you're not logged in. Please log in to proceed. " %}</p>
  {% else %}
    <p>{% trans "You're logged in as " %}{{ user.username }}</p>
  {% endif %}

<h1>{% trans 'Регистрация' %}</h1>
<form method="post" style="width: 24vw">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Registration">
</form>
    <a href="{% url 'index' %}">{% trans 'Back to Index' %}</a>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {{ post_message }}
{% endblock %}
{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
