{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}
{% if form.errors %}
    {{ form.errors }}
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

  {% if not user.is_authenticated %}
    <p>{% trans "Currently you're not logged in. Please log in to proceed. " %}</p>
  {% else %}
    <p>{% trans "You're logged in as " %}{{ user.username }}</p>
  {% endif %}

<h1>{% trans 'Для подтверждения аккаунта, пройдите по ссылке ниже: ' %}</h1>
<form method="post" style="width: 24vw">
    {% csrf_token %}
    {{ protocol }}://{{ domain }}{% url 'accounts:confirm' uidb64=uid token=token %}
</form>
    <a href="{% url 'index' %}">Back to Index</a>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}
{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
