.testing_class {
    color: red;
}
.wine_sign_record {
    padding-left: 2vh;
    border: #171a1d 1px solid;
}
.btn-primary {
    width: 100%;
    text-align: center;
}

.add_link {
    float: right;
}