<option value="">---------</option>
{% for region in regions %}
<option value="{{ region.pk }}">{{ region.name }}</option>
{% endfor %}
{% for area in areas %}
<option value="{{ area.pk }}">{{ area.name }}</option>
{% endfor %}
{% for quality_mark in quality_marks %}
<option value="{{ quality_mark.pk }}">{{ quality_mark.name }}</option>
{% endfor %}