{% load static %}{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
{% trans 'Wine database site' %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
{% block head %}
{% endblock %}

{% block body %}
{% for message in messages %}
    {{ message }}
{% endfor %}
{% endblock %}
</body>
<script language="JavaScript" type="text/javascript" src="{% static 'js/test_cascade.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/country_straight_cascade.js' %}"></script>#}