{% extends "base.html" %}{% load i18n %}
{% load static my_template_tag %}
{% block body %}
    <p>{% trans 'This is create_sign.html'|yell %}</p>
    <a href="{% url 'index' %}">Back to Index</a>
    {% include "inc/include.html" %}
<div style="width: 50%; margin: auto">
    {{ current_date }}
{% if perms %}
    <p style="float: right">{% trans 'List of your current permissions:' %}
<select>
    {% for perm in current_permissions %}
        <option>{{ perm }}</option>
    {% endfor %}
</select>
    </p>
{#    {{ perms.all }}#}
{#    <p>{{ request }}</p>#}

{% endif %}

            <p style="text-align: center">{% trans 'Logged as ' %}<b>{{ user.username }}</b></p>
<form method="post" id="signForm" data-regions-url="{% url 'geo:ajax_load_regions' %}" novalidate> <!-- necessary -->
{% csrf_token %}
    <h3 class="h3">{% trans 'Wine sign creation form' %}</h3>
        {{ form }}
{% if not user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. Please login with an account that has access to proceed. " %}</p>
{% endif %}
{% if user.is_authenticated and not perms.accounts.create_sign %}
    <p style="text-align: center">{% trans "ou have no permission to do this. You can ask host owner for privileges. And it seems only admin can work with this. " %}Y</p>
{% endif %}
<input class="btn-primary" type="submit" value="{{ form.button_label }}">
</form>
</div>
{% endblock %}
