{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}
    <p>{% trans "Hey, I'm your edit.html!" %}</p>
    <a href="{% url 'index' %}">{% trans 'Back to Index' %}</a>
    <br>
    <a href="{% url 'geo:create_sign' %}">{% trans 'Back to sign creation' %}</a>
    {% include "inc/include.html" %}

{% include 'inc/uni_form.html' %}

{% endblock %}
