{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}
{% trans 'This is a navigation page. Welcome.' %}


<p>{% trans 'Use links: ' %}</p>
<p class="h6">1) <a href="{% url 'geo:create_sign' %}">{% trans 'Wine sign creation form' %}</a></p>
<p class="h6">2) <a href="{% url 'geo:view' %}">{% trans 'View wine database' %}</a></p>

{% if not user.is_authenticated %}
<p>{% trans "Currently you're not logged in." %}</p>
{% else %}
{% trans "You're logged in as " %}<div style="color: #ba8b00; display: inline">{{ user.username }}</div>
{% endif %}
<br><br>
    <p><a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a></p>
    <p><a href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a></p>
    <p><a href="{% url 'accounts:register' %}">{% trans 'Register' %}</a></p>
    {% if 'can_translate' in perms %}
    <a href="{% url 'rosetta-file-list-redirect' %}">{% trans 'Make translations...' %}</a>
    {% endif %}
    <p>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </p>
{% endblock %}
