{% extends "base.html" %}{% load i18n %}
{% load static %}
{% block body %}
    <p>{% trans "Hey, I'm your view.html!" %}</p>
    <a href="{% url 'index' %}">{% trans 'Back to Index' %}</a>
    <br>
    <a href="{% url 'geo:create_sign' %}">{% trans 'Back to sign creation' %}</a>
    {% include "inc/include.html" %}
<h4 class="text-center">{{ error_msg }}</h4>
<form action="{% url 'geo:create_sign' %}" method="post" enctype="multipart/form-data"> <!-- necessary -->
{% csrf_token %} <!-- necessary -->
<div style="width: 50%; margin: auto">
{% for item in object_list %}
<div class="wine_sign_record">
    <p>{% trans 'Item # - ' %}{{ item.id }}</p>
    <p>{% trans 'Country -' %} {{ item.country }}</p>
    <p>{% trans 'Region -' %} {{ item.region }}</p>
    <p>{% trans 'Area -' %} {{ item.area }}</p>
    <p>{% trans 'Quality mark -' %} {{ item.quality_mark }}</p>
    <p>{% trans 'Sign -' %} <b>{{ item.sign }}</b></p>
</div>
{% endfor %}
    {% if articles.has_previous %}
        <a href="?page={{ articles.previous_page_number }}">←</a>
    {% endif %}
    {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">→</a>
    {% endif %}

</div>
</form>
{% endblock %}